[submodule ".registry"]
	path = .registry
	url = https://github.com/skranz/skranz.r-universe.dev
	branch = HEAD
[submodule "EnergyChartsAPI"]
	path = EnergyChartsAPI
	url = https://github.com/skranz/EnergyChartsAPI
	branch = main
[submodule "MetaStudies"]
	path = MetaStudies
	url = https://github.com/skranz/MetaStudies
	branch = main
[submodule "ParallelTrendsPlot"]
	path = ParallelTrendsPlot
	url = https://github.com/skranz/ParallelTrendsPlot
	branch = main
[submodule "RSGSolve"]
	path = RSGSolve
	url = https://github.com/skranz/RSGSolve
	branch = master
[submodule "RStudioStataConsole"]
	path = RStudioStataConsole
	url = https://github.com/skranz/RStudioStataConsole
	branch = main
[submodule "RTutor"]
	path = RTutor
	url = https://github.com/skranz/RTutor
	branch = master
[submodule "RTutorSAGI"]
	path = RTutorSAGI
	url = https://github.com/skranz/RTutorSAGI
	branch = master
[submodule "RelationalContracts"]
	path = RelationalContracts
	url = https://github.com/skranz/RelationalContracts
	branch = master
[submodule "RelationalContractsCpp"]
	path = RelationalContractsCpp
	url = https://github.com/skranz/RelationalContractsCpp
	branch = master
[submodule "RoundingMatters"]
	path = RoundingMatters
	url = https://github.com/skranz/RoundingMatters
	branch = main
[submodule "codeUtils"]
	path = codeUtils
	url = https://github.com/skranz/codeUtils
	branch = master
[submodule "dbmisc"]
	path = dbmisc
	url = https://github.com/skranz/dbmisc
	branch = master
[submodule "distRforest"]
	path = distRforest
	url = https://github.com/skranz/distRforest
	branch = master
[submodule "dplyrExtras"]
	path = dplyrExtras
	url = https://github.com/skranz/dplyrExtras
	branch = master
[submodule "dyplot"]
	path = dyplot
	url = https://github.com/skranz/dyplot
	branch = main
[submodule "glueformula"]
	path = glueformula
	url = https://github.com/skranz/glueformula
	branch = master
[submodule "gpt4r"]
	path = gpt4r
	url = https://github.com/skranz/gpt4r
	branch = main
[submodule "gtree"]
	path = gtree
	url = https://github.com/skranz/gtree
	branch = master
[submodule "gtreeWebPlay"]
	path = gtreeWebPlay
	url = https://github.com/skranz/gtreeWebPlay
	branch = master
[submodule "mlogitExtras"]
	path = mlogitExtras
	url = https://github.com/skranz/mlogitExtras
	branch = master
[submodule "mygpt"]
	path = mygpt
	url = https://github.com/skranz/mygpt
	branch = main
[submodule "phack"]
	path = phack
	url = https://github.com/skranz/phack
	branch = main
[submodule "rampl"]
	path = rampl
	url = https://github.com/skranz/rampl
	branch = master
[submodule "regtools"]
	path = regtools
	url = https://github.com/skranz/regtools
	branch = master
[submodule "repgame"]
	path = repgame
	url = https://github.com/skranz/repgame
	branch = master
[submodule "restorepoint"]
	path = restorepoint
	url = https://github.com/skranz/restorepoint
	branch = master
[submodule "rgemini"]
	path = rgemini
	url = https://github.com/skranz/rgemini
	branch = main
[submodule "rgmpl"]
	path = rgmpl
	url = https://github.com/skranz/rgmpl
	branch = master
[submodule "rmdtools"]
	path = rmdtools
	url = https://github.com/skranz/rmdtools
	branch = master
[submodule "rmistral"]
	path = rmistral
	url = https://github.com/skranz/rmistral
	branch = main
[submodule "rowmins"]
	path = rowmins
	url = https://github.com/skranz/rowmins
	branch = master
[submodule "shinyChatQuiz"]
	path = shinyChatQuiz
	url = https://github.com/skranz/shinyChatQuiz
	branch = master
[submodule "shinyEvents"]
	path = shinyEvents
	url = https://github.com/skranz/shinyEvents
	branch = master
[submodule "shinyEventsLogin"]
	path = shinyEventsLogin
	url = https://github.com/skranz/shinyEventsLogin
	branch = master
[submodule "shinyEventsPushMessage"]
	path = shinyEventsPushMessage
	url = https://github.com/skranz/shinyEventsPushMessage
	branch = master
[submodule "shinyEventsUI"]
	path = shinyEventsUI
	url = https://github.com/skranz/shinyEventsUI
	branch = master
[submodule "skUtils"]
	path = skUtils
	url = https://github.com/skranz/skUtils
	branch = master
[submodule "sktools"]
	path = sktools
	url = https://github.com/skranz/sktools
	branch = master
[submodule "stringtools"]
	path = stringtools
	url = https://github.com/skranz/stringtools
	branch = master
[submodule "synthdid"]
	path = synthdid
	url = https://github.com/skranz/synthdid
	branch = master
[submodule "umlaute"]
	path = umlaute
	url = https://github.com/skranz/umlaute
	branch = main
[submodule "xglue"]
	path = xglue
	url = https://github.com/skranz/xglue
	branch = main
[submodule "xsynthdid"]
	path = xsynthdid
	url = https://github.com/skranz/xsynthdid
	branch = main
